
@media (max-width: 600px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 18px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 2px;
        width: 100%;
        border-radius: 10px;
        background: #ffffff;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #000000;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -50px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        /* box-shadow:  5px 0px 10px 0px #aaa; */
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        /* font-weight: 500; */
    }
.logo-down{
    position: relative;
    top: -90px;
    left: 100px;
    /* display: none; */
    visibility: hidden;
}
.logo-in{
    position: relative;
    left: 90px;
    top: 40px;
}

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }
    .three-side{
        display: grid;
        align-items: center;
        justify-content:center;
        /* width: 100%; */
    }
    /* .three-side:is(.img-1,.img-2,.img-3){
        width: 100px;
    } */

    .flex-about{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.flows{
    /* display: flex; */
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.height{
    display: grid;
    align-items: center;
    justify-content: center;
}

}
/* @media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        /* display: none; */
    /* } */
/* } */ 